<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>-- LOYOUT--</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header class="header">
    <div class="header__overlay">

    </div >
    <div class="header__item-container">
      <img src="img/foto_ale.jpg" class="header__img" alt="Imagen de Alejandro Bernabé">
      <h1>ADA 13 EDICIÓN 2025</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae qui laborum nobis dolore
        </p>
     </div>
  </header>
  <nav class="nav">
    <div class="nav__ul-container">
        <ul class="nav__ul">
            <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
            <li class="nav__item"><a href="#" class="nav__link">About Us</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
            <li class="nav__item"><a href="#" class="nav__link link--login">Log In</a></li>
        </ul>
    </div>
    <div class="nav__logo-container">
        <img src="../Layout/img/logo.png" class="nav__logo" alt="Logo de ADA">
    </div>
  </nav>
  <main>  
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, consequuntur quas beatae ipsa cupiditate non mollitia dolorum ad? Blanditiis sequi ab atque sit quos amet soluta dolore corrupti. Saepe, suscipit.
    Harum voluptatibus suscipit delectus qui tenetur sunt molestiae nostrum. Quasi fugit excepturi quidem. Nobis aspernatur quaerat laborum est dicta nulla nostrum, maxime, omnis neque, laudantium consequatur eos iusto quae cupiditate.
    Dignissimos nostrum tenetur repudiandae culpa, perspiciatis dicta commodi cum earum aliquid necessitatibus sapiente modi magni vero, vitae itaque esse impedit vel, molestiae suscipit placeat labore quisquam et alias aliquam! Eos?
    Quae libero dignissimos, ad inventore, perspiciatis hic impedit iusto magnam ut sit fugit excepturi beatae laboriosam corporis maxime commodi dolor laudantium ipsa fuga itaque soluta. Illo omnis ea tenetur animi!
    Ad et omnis perferendis laboriosam quae dolorem itaque commodi sunt temporibus similique magni fuga ratione quasi earum cumque repellendus hic laborum voluptatem laudantium minima, dignissimos nostrum eligendi! Vel, ex ut.
    Quia, facilis doloribus. Ad suscipit inventore dolores delectus veritatis, quae quidem saepe eos ipsum perspiciatis qui id hic, reiciendis fugit tempora a necessitatibus reprehenderit expedita sapiente? Expedita reiciendis non optio.
    Recusandae dolorem eaque unde aspernatur quo provident labore numquam non temporibus veritatis itaque, vel consequatur sit impedit ab esse. Dolorem blanditiis in explicabo labore perspiciatis incidunt consectetur reprehenderit nesciunt distinctio?
    Nisi, nihil provident iste, impedit sunt dolores architecto praesentium aspernatur at illo corrupti animi iusto fugit saepe cumque commodi, quas incidunt rerum? Fugit at fugiat rem et nostrum? Neque, explicabo.
    Beatae fuga illo porro quibusdam rem consectetur veniam totam. Laborum mollitia animi temporibus dolorum praesentium dolor, nemo eligendi minus quis necessitatibus illum eius nostrum beatae accusantium maiores a, officiis officia.
    Ducimus blanditiis nam aliquid temporibus placeat pariatur ipsa incidunt corrupti quidem possimus deleniti cum dolores, culpa tempora quibusdam, autem officia consequuntur. Cupiditate quis qui, vitae perspiciatis iusto nemo autem temporibus!
    Consequatur incidunt eos eveniet nesciunt, ex voluptas qui, aliquid ducimus obcaecati voluptates delectus rem aperiam vitae accusantium, omnis perspiciatis quos quia esse neque suscipit totam harum quas alias eligendi. Ducimus!
    Voluptate, natus consequuntur nihil optio eos tenetur dolores reprehenderit aperiam possimus, accusantium aliquam dolorum consequatur iure quos ullam rem, quia error ipsum. Tempora minus id molestias hic quos voluptatum animi.
    Minima beatae corrupti esse nobis, quam omnis iusto perspiciatis laboriosam a, fugiat possimus eveniet magnam consequuntur modi reiciendis eaque itaque inventore pariatur voluptatum sed qui voluptatibus? Fuga iste quae dignissimos.
    Dolore repellat minus recusandae eius quia necessitatibus quos, ducimus commodi. Maiores, molestiae similique sed quo nihil eligendi. Praesentium omnis libero ducimus, cum neque accusamus accusantium eveniet, autem labore sit dolorem.
    Excepturi magni cupiditate assumenda veritatis architecto error molestiae tempora. Aliquid voluptatem eaque alias magnam, libero architecto ab pariatur dignissimos numquam dolorem ad voluptatibus, voluptas quaerat molestiae minima deserunt neque cupiditate.
    Deserunt maiores aut, quam nobis reprehenderit eius! Beatae inventore, itaque distinctio dolorem nulla quisquam eaque, doloribus odit quaerat excepturi aliquid dignissimos mollitia reiciendis ut necessitatibus sunt soluta esse cupiditate quia?
    Mollitia harum tempora sint autem obcaecati animi, quae temporibus labore excepturi quas officia possimus! Harum autem commodi nihil rem magnam impedit cumque. Quos vero autem ratione nisi repellendus doloremque aperiam?
    Fugit eaque in, laborum ad mollitia rerum eligendi facere sint rem reprehenderit est nihil culpa beatae alias tempora. Exercitationem reprehenderit molestiae obcaecati sunt officiis voluptatem quas suscipit aliquid necessitatibus amet.
    Explicabo enim similique at optio voluptatem possimus consectetur, quidem natus quod nobis mollitia perferendis sapiente aperiam praesentium dolorum quasi reiciendis non necessitatibus totam voluptate. Omnis dolorum inventore accusamus deserunt non!
    Adipisci tenetur laborum numquam, a sit corporis asperiores aliquam fugiat ipsum explicabo dignissimos fugit perferendis. Voluptate deserunt modi, dignissimos repellat laborum consequuntur, doloremque distinctio unde architecto, non sit perferendis laboriosam.
    Doloremque dicta tempora placeat optio, quae sapiente nisi possimus animi est culpa eum molestias modi omnis quo tenetur laboriosam dolor quaerat, perspiciatis officia distinctio exercitationem reprehenderit ut eius! Aperiam, itaque?
    Adipisci ad ex vero voluptate tempore, rerum cum nesciunt cumque magnam suscipit odit nisi quibusdam. Totam nemo quidem nostrum expedita inventore facere perferendis. Nam vitae voluptates libero inventore. Cupiditate, officiis.
    Illum nihil debitis doloribus laudantium, tenetur quidem nobis eos temporibus praesentium reprehenderit perferendis voluptate obcaecati ipsum natus deleniti sapiente at quas ipsam enim? Est blanditiis dignissimos debitis recusandae quas quaerat.
    Laborum, exercitationem. Obcaecati fugit molestias, blanditiis nemo voluptas exercitationem commodi molestiae excepturi, alias voluptate eligendi assumenda repellendus aliquam laborum id quo eos dolorem ipsam minima vero veritatis tempore sint. 
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, consequuntur quas beatae ipsa cupiditate non mollitia dolorum ad? Blanditiis sequi ab atque sit quos amet soluta dolore corrupti. Saepe, suscipit.
    Harum voluptatibus suscipit delectus qui tenetur sunt molestiae nostrum. Quasi fugit excepturi quidem. Nobis aspernatur quaerat laborum est dicta nulla nostrum, maxime, omnis neque, laudantium consequatur eos iusto quae cupiditate.
    Dignissimos nostrum tenetur repudiandae culpa, perspiciatis dicta commodi cum earum aliquid necessitatibus sapiente modi magni vero, vitae itaque esse impedit vel, molestiae suscipit placeat labore quisquam et alias aliquam! Eos?
    Quae libero dignissimos, ad inventore, perspiciatis hic impedit iusto magnam ut sit fugit excepturi beatae laboriosam corporis maxime commodi dolor laudantium ipsa fuga itaque soluta. Illo omnis ea tenetur animi!
    Ad et omnis perferendis laboriosam quae dolorem itaque commodi sunt temporibus similique magni fuga ratione quasi earum cumque repellendus hic laborum voluptatem laudantium minima, dignissimos nostrum eligendi! Vel, ex ut.
    Quia, facilis doloribus. Ad suscipit inventore dolores delectus veritatis, quae quidem saepe eos ipsum perspiciatis qui id hic, reiciendis fugit tempora a necessitatibus reprehenderit expedita sapiente? Expedita reiciendis non optio.
    Recusandae dolorem eaque unde aspernatur quo provident labore numquam non temporibus veritatis itaque, vel consequatur sit impedit ab esse. Dolorem blanditiis in explicabo labore perspiciatis incidunt consectetur reprehenderit nesciunt distinctio?
    Nisi, nihil provident iste, impedit sunt dolores architecto praesentium aspernatur at illo corrupti animi iusto fugit saepe cumque commodi, quas incidunt rerum? Fugit at fugiat rem et nostrum? Neque, explicabo.
    Beatae fuga illo porro quibusdam rem consectetur veniam totam. Laborum mollitia animi temporibus dolorum praesentium dolor, nemo eligendi minus quis necessitatibus illum eius nostrum beatae accusantium maiores a, officiis officia.
    Ducimus blanditiis nam aliquid temporibus placeat pariatur ipsa incidunt corrupti quidem possimus deleniti cum dolores, culpa tempora quibusdam, autem officia consequuntur. Cupiditate quis qui, vitae perspiciatis iusto nemo autem temporibus!
    Consequatur incidunt eos eveniet nesciunt, ex voluptas qui, aliquid ducimus obcaecati voluptates delectus rem aperiam vitae accusantium, omnis perspiciatis quos quia esse neque suscipit totam harum quas alias eligendi. Ducimus!
    Voluptate, natus consequuntur nihil optio eos tenetur dolores reprehenderit aperiam possimus, accusantium aliquam dolorum consequatur iure quos ullam rem, quia error ipsum. Tempora minus id molestias hic quos voluptatum animi.
    Minima beatae corrupti esse nobis, quam omnis iusto perspiciatis laboriosam a, fugiat possimus eveniet magnam consequuntur modi reiciendis eaque itaque inventore pariatur voluptatum sed qui voluptatibus? Fuga iste quae dignissimos.
    Dolore repellat minus recusandae eius quia necessitatibus quos, ducimus commodi. Maiores, molestiae similique sed quo nihil eligendi. Praesentium omnis libero ducimus, cum neque accusamus accusantium eveniet, autem labore sit dolorem.
    Excepturi magni cupiditate assumenda veritatis architecto error molestiae tempora. Aliquid voluptatem eaque alias magnam, libero architecto ab pariatur dignissimos numquam dolorem ad voluptatibus, voluptas quaerat molestiae minima deserunt neque cupiditate.
    Deserunt maiores aut, quam nobis reprehenderit eius! Beatae inventore, itaque distinctio dolorem nulla quisquam eaque, doloribus odit quaerat excepturi aliquid dignissimos mollitia reiciendis ut necessitatibus sunt soluta esse cupiditate quia?
    Mollitia harum tempora sint autem obcaecati animi, quae temporibus labore excepturi quas officia possimus! Harum autem commodi nihil rem magnam impedit cumque. Quos vero autem ratione nisi repellendus doloremque aperiam?
    Fugit eaque in, laborum ad mollitia rerum eligendi facere sint rem reprehenderit est nihil culpa beatae alias tempora. Exercitationem reprehenderit molestiae obcaecati sunt officiis voluptatem quas suscipit aliquid necessitatibus amet.
    Explicabo enim similique at optio voluptatem possimus consectetur, quidem natus quod nobis mollitia perferendis sapiente aperiam praesentium dolorum quasi reiciendis non necessitatibus totam voluptate. Omnis dolorum inventore accusamus deserunt non!
    Adipisci tenetur laborum numquam, a sit corporis asperiores aliquam fugiat ipsum explicabo dignissimos fugit perferendis. Voluptate deserunt modi, dignissimos repellat laborum consequuntur, doloremque distinctio unde architecto, non sit perferendis laboriosam.
    Doloremque dicta tempora placeat optio, quae sapiente nisi possimus animi est culpa eum molestias modi omnis quo tenetur laboriosam dolor quaerat, perspiciatis officia distinctio exercitationem reprehenderit ut eius! Aperiam, itaque?
    Adipisci ad ex vero voluptate tempore, rerum cum nesciunt cumque magnam suscipit odit nisi quibusdam. Totam nemo quidem nostrum expedita inventore facere perferendis. Nam vitae voluptates libero inventore. Cupiditate, officiis.
    Illum nihil debitis doloribus laudantium, tenetur quidem nobis eos temporibus praesentium reprehenderit perferendis voluptate obcaecati ipsum natus deleniti sapiente at quas ipsam enim? Est blanditiis dignissimos debitis recusandae quas quaerat.
    Laborum, exercitationem. Obcaecati fugit molestias, blanditiis nemo voluptas exercitationem commodi molestiae excepturi, alias voluptate eligendi assumenda repellendus aliquam laborum id quo eos dolorem ipsam minima vero veritatis tempore sint. 
    

  </main>
</body>
</html>